# Created by https://www.toptal.com/developers/gitignore/api/renpy
# Edit at https://www.toptal.com/developers/gitignore?templates=renpy

### Renpy ###
# Don't track content of these folders #
########################################
cache/
saves/


# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

*.rpyc
*.rpymc


# The log file and other misc things #
######################################
log.txt
errors.txt
traceback.txt
files.txt

# End of https://www.toptal.com/developers/gitignore/api/renpy
interview bad/game/script.rpy.bak
interviewbad-1.0-dists/interviewbad-1.0-mac.zip
interviewbad-1.0-dists/interviewbad-1.0-pc.zip
